.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.loading {
  width: 300px;
  height: 300px;
}

.movies {
  grid-gap: 100px;
  padding: 50px;
  padding-top: 70px;
  background-size: cover;
}

@media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
  }
}

.btn__wrap {
  width:fit-content;
  margin:auto;
}

.btn {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 1;
  border-radius: 10px;
  border-color: white;
  font-size: 16px;
  width: 200px;
  height: 60px;
  font-weight: 300;
  cursor: pointer;
}