.movie {
  background-color: white;
  margin-bottom: 50px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie__img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 150px;
  height: 225px;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.cast__warp {
  margin-top: 30px;
}

.cast__header {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 20px;
}

.cast__flex__container{
  display: flex;
}

.sugg__warp {
  margin-top: 20px;
  padding-bottom: 20px;
}

.sugg__header {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 20px;
}

.movie__title,
.movie__runtime {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.movie__title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
  text-decoration: none;
}

.movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie__genres li,
.movie__runtime {
  margin-right: 10px;
  font-size: 14px;
}

.star__ratings {
  color: #aaa9a9; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star__ratings__fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: gold;
}

.star__ratings__base {
  z-index: 0;
  padding: 0;
}